<html>
    <head>
        <title>Django Boss blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Boss Blog</a></h1>
        </div>

        <div>
            <p>published: 28.06.2019, 12:10</p>
            <h2><a href="">My first post</a></h2>
            <p>Mugila hattuveya koose</p>
            <p>helu enadu ninna aase</p>
            <p>koota maguvige kotta varava deva</p>
            <p>manasige tanda endendu mugiyada khushiya bhaarava</p>
        </div>

        <div>
            <p>published: 28.06.2019, 12:13</p>
            <h2><a href="">My second post</a></h2>
            <p>Baanige banna hodedavanaaru</p>
            <p>modagala swagatha heluvavanaaru</p>
        	<p>ravige kantiya kartavya kottavanaru</p>
        	<p>maanavane ninna ulisavaryaaru</p>
        </div>
    </body>
</html>